<div class="snb_fixed">
	<div class="snb_tit space01">STORE INFO</div>
	<!-- .snb_depth01클래스에 on 클래스 붙으면 .snb_depth02_area 영역 열림 -->
	<div class="snb_depth01 on">
		<a href="#">WORKSOUT STORE</a>
		<ul style="display:block;" class="snb_depth02_area">
			<li>
				<a href="#">서울 압구정</a>
			</li>
			<li>
				<a href="#">서울 홍대 와우산</a>
			</li>
		</ul>
	</div>
	<!-- .snb_depth01클래스에 on 클래스 붙으면 .snb_depth02_area 영역 열림 -->
	<div class="snb_depth01 on">
		<a href="#">CARHARTT WIP STORE</a>
		<ul style="display:block;" class="snb_depth02_area">
			<li>
				<a href="#">서울 압구정</a>
			</li>
			<li>
				<a href="#">신세계백화점 센텀시티</a>
			</li>
			<li>
				<a href="#">롯데백화점 영플라자 명동</a>
			</li>
			<li>
				<a href="#">롯데백화점 영플라자 창원</a>
			</li>
			<li>
				<a href="#">롯데백화점 영플라자 목동</a>
			</li>
			<li>
				<a href="#">롯데백화점 부산본점</a>
			</li>
			<li>
				<a href="#">서울 홍대 와우산</a>
			</li>
			<li>
				<a href="#">서울 타임스퀘어</a>
			</li>
		</ul>
	</div>
	<div class="snb_depth01 on">
		<a href="#">DEALERS</a>
	</div>
</div>
<div class="snb_mobile_container">
	<ul class="snb_mobile_menu">
		<li>
			<a href="#" class="on">
				<div class="txt">WORKSOUT STORE</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">CARHARTT WIP STORE</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">DEALERS</div>
			</a>
		</li>
	</ul>
	<div style="display:none;" class="snb_mobile_sub_menu">
		<div>
			<div>
				<div class="menu_link">
					<a href="#" class="on">서울 압구정</a>
					<a href="#">서울 홍대 와우산</a>
				</div>
				<div style="display:none;" class="menu_link">
					<a href="#" class="on">서울 압구정</a>
					<a href="#">신세계백화점 센텀시티</a>
					<a href="#">롯데백화점 영플라자 명동</a>
					<a href="#">롯데백화점 영플라자 창원</a>
					<a href="#">롯데백화점 영플라자 목동</a>
					<a href="#">롯데백화점 부산본점</a>
					<a href="#">서울 홍대 와우산</a>
					<a href="#">서울 타임스퀘어</a>
				</div>
				<div style="display:none;" class="menu_link">
					<a href="#" class="on">DEALERS</a>
				</div>
			</div>
		</div>
	</div>
</div>