<div class="snb_fixed">
	<div class="snb_tit">NEWS</div>
	<!-- li 에 on 클래스 붙으면 글씨 굵어 짐 -->
	<ul class="snb_depth02_fix_area space01">
		<li class="on">
			<a href="#">ALL</a>
		</li>
		<li>
			<a href="#">NOTICE</a>
		</li>
		<li>
			<a href="#">JOURNAL</a>
		</li>
		<li>
			<a href="#">FEATURE</a>
		</li>
		<li>
			<a href="#">SNAPSHOT</a>
		</li>
	</ul>
</div>
<div class="snb_mobile_container">
	<ul class="snb_mobile_menu">
		<li>
			<a href="#" class="on">
				<div class="txt">ALL</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">NOTICE</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">JOURNAL</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">FEATURE</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">SNAPSHOT</div>
			</a>
		</li>
	</ul>
</div>