<div class="footer_content">
	<div class="footer_menu_area clfix">
		<ul class="footer_menu01">
			<li>
				<a href="#">ABOUT</a>
			</li>
			<li>
				<a href="#">CUSTOMER CARE</a>
			</li>
			<li>
				<a href="#">WORK WITH US</a>
			</li>
			<li>
				<a href="#">DISTRIBUTION</a>
			</li>
		</ul>
		<ul class="footer_menu02">
			<li>
				<a href="#">WORKOUT FACEBOOK</a>
			</li>
			<li>
				<a href="#">WORKOUT INSTAGRAM</a>
			</li>
			<li>
				<a href="#">WORKOUT CONTACT</a>
			</li>
			<li>
				<!-- 기본 뉴스레터 버튼 -->
				<a href="#" class="ui_btn_news_letter">WORKOUT NEWSLETTER</a>
			</li>
			<li class="footer_newsletter_area">
				<div class="newsletter_hidden_area">
					<!-- 클릭스 노출 영역 -->
					<div class="newsletter_input_area">
						<span class="input_newsletter">
							<input type="text" id="" name="" placeholder="E-MAIL" />
						</span>
						<a href="#" class="btn_subscribe">SUBSCRIBE</a>
					</div>
					<!-- 상황에 따른 메세지 1 -->
					<div class="newsletter_alert_area">
						<span class="ico_alert alert01">THE EMAIL NEEDS TO BE VALID.</span>
					</div>
					<!-- 상황에 따른 메세지 2<div class="newsletter_alert_area"><span class="ico_alert alert01">ALREADY ASSIGNED TO ANOTHER USER</span></div>상황에 따른 메세지 2 -->
					<!-- 상황에 따른 메세지 3<div class="newsletter_alert_area"><span class="alert01">THANK YOU FOR YOUR SUBSCRIPTION!</span></div>상황에 따른 메세지 3 --></div>
			</li>
		</ul>
	</div>
	<ul class="footer_copyright clfix">
		<li class="txt01">© 2003-2015 WORKSOUT Inc.</li>
		<li class="txt02">
			<span>주소 : 서울시 마포구 잔다리로 59</span>
			<span>사업자등록번호 : 106-86-85373</span>
			<span>통신판매업신고 : 2014-서울마포-0219</span>
			<span>대표 : 강승혁 ,박선영</span>
			<span class="tel_fax">
				<span class="tel">전화 : 02-541-0854</span>
				<span class="fax">팩스 : 02-540-0851</span>
			</span>
		</li>
		<li class="txt03">구매안전 (에스크로) 서비스 가입사실 확인</li>
	</ul>
</div>