<!DOCTYPE html>
<!--[if IE 7]><html lang="ko" class="ie7"><![endif]-->
<!--[if IE 8]><html lang="ko" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="ko" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="ko">
	<!--<![endif]-->
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>Worksout Inc.</title>
		<link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700"
		type="text/css" rel="stylesheet">
		<link href="/html/worksout/inc/css/reset.css" type="text/css" rel="stylesheet">
		<link href="/html/worksout/inc/css/print.css" type="text/css" rel="stylesheet">
		<link href="/html/worksout/inc/css/common.css" type="text/css" rel="stylesheet">
		<script src="/html/worksout/inc/js/modernizr.js" type="text/javascript" charset="utf-8"></script>
		<script src="/html/worksout/inc/js/jquery.js" type="text/javascript"
		charset="utf-8"></script>
		<script src="/html/worksout/inc/js/jquery.mousewheel.min.js" type="text/javascript"
		charset="utf-8"></script>
		<script src="/html/worksout/inc/js/swipe.js" type="text/javascript"
		charset="utf-8"></script>
		<script src="/html/worksout/inc/js/TweenMax.min.js" type="text/javascript"
		charset="utf-8"></script>
		<script src="/html/worksout/inc/js/common.js" type="text/javascript"
		charset="utf-8"></script>
	</head>
	<body>
		<div class="layer_popup_wrap02">
			<div class="layer_popup02">
				<div class="layer_popup_container02">
					<div class="layer_top_tit02">파일첨부</div>
					<div class="layer_popup_content02">
						<div class="input_file_area_add">
							<ul class="input_file_name">
								<li>내용</li>
							</ul>
							<div class="input_file">
								<span class="txt_file">FILE</span>
								<input type="file">
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="layer_btn_close02">
					<img src="/html/worksout/images/common/btn_close_popup.png" alt="닫기">
				</a>
			</div>
		</div>
	</body>
</html>