<div class="snb_fixed ui_snb_shop no_fixed">
	<!-- a 태그에 on 붙으면 활성화 됨 -->
	<ul class="snb_shop clfix">
		<li>
			<a href="#" class="on">F/W 15</a>
		</li>
		<li>
			<a href="#">OUTLET</a>
		</li>
	</ul>
	<!-- .snb_depth01클래스에 on 클래스 붙으면 .snb_depth02_area 영역 열림 -->
	<div class="snb_depth01">
		<a href="#" class="ico_arrow">MEN</a>
		<!-- 2뎁스 열릴때 li 에 on 클래스 붙으면 글씨 굵어짐 -->
		<ul style="display:none;" class="snb_depth02_area">
			<li>
				<a href="#">ALL CATEGORIES</a>
			</li>
			<li class="on">
				<a href="#">JACKETS</a>
				<ul class="snb_depth03_area">
					<li>
						<a href="#">JACKET HEAVY LONG</a>
					</li>
					<li>
						<a href="#">JACKET HEAVY SHORT</a>
					</li>
					<li>
						<a href="#">JACKET LEATHER</a>
					</li>
					<li>
						<a href="#">JACKET LIGHT SHORT</a>
					</li>
					<li>
						<a href="#">VEST HEAVY</a>
					</li>
					<li>
						<a href="#">VEST LIGHT</a>
					</li>
					<li>
						<a href="#">BLAZER</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">KNITS</a>
			</li>
			<li>
				<a href="#">SHIRTS</a>
			</li>
			<li>
				<a href="#">SWEATS</a>
			</li>
			<li>
				<a href="#">T-SHIRTS</a>
			</li>
			<li>
				<a href="#">PANTS</a>
			</li>
			<li>
				<a href="#">SHORTS</a>
			</li>
			<li>
				<a href="#">HEADWEARS</a>
			</li>
			<li>
				<a href="#">BAGS</a>
			</li>
			<li>
				<a href="#">SHOES</a>
			</li>
			<li>
				<a href="#">UNDERWEAR</a>
			</li>
			<li>
				<a href="#">SWIMWEAR</a>
			</li>
			<li>
				<a href="#">OTHER</a>
			</li>
		</ul>
	</div>
	<!-- .snb_depth01클래스에 on 클래스 붙으면 .snb_depth02_area 영역 열림 -->
	<div class="snb_depth01">
		<a href="#" class="ico_arrow">WOMEN</a>
		<ul style="display:none;" class="snb_depth02_area last_child">
			<li>
				<a href="#">ALL CATEGORIES</a>
			</li>
			<li>
				<a href="#">JACKETS</a>
			</li>
			<li>
				<a href="#">KNITS</a>
			</li>
			<li>
				<a href="#">SHIRTS</a>
			</li>
			<li>
				<a href="#">SWEATS</a>
			</li>
			<li>
				<a href="#">T-SHIRTS</a>
			</li>
			<li>
				<a href="#">PANTS</a>
			</li>
			<li>
				<a href="#">SHORTS</a>
			</li>
			<li>
				<a href="#">HEADWEARS</a>
			</li>
			<li>
				<a href="#">BAGS</a>
			</li>
			<li>
				<a href="#">SHOES</a>
			</li>
			<li>
				<a href="#">UNDERWEAR</a>
			</li>
			<li>
				<a href="#">SWIMWEAR</a>
			</li>
			<li>
				<a href="#">OTHER</a>
			</li>
		</ul>
	</div>
	<ul class="snb_depth02_fix_area color01">
		<li>
			<a href="#">COLLABORATION</a>
		</li>
	</ul>
	<!-- li 에 on 클래스 붙으면 글씨 굵어 짐 -->
	<ul class="snb_depth02_fix_area">
		<li class="on">
			<a href="#">ALL BRANDS</a>
		</li>
		<li>
			<a href="#">BRIXTON</a>
		</li>
		<li>
			<a href="#">CARHARTT WIP</a>
		</li>
		<li>
			<a href="#">DEUS EX MACHINA</a>
		</li>
		<li>
			<a href="#">LEXDRAY OBEY</a>
		</li>
	</ul>
</div>
<div class="snb_mobile_container">
	<ul class="snb_mobile_menu">
		<li>
			<a href="#" class="on">
				<div class="txt">MEN</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">ALL CATEGORIES</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">ALL BRANDS</div>
			</a>
		</li>
		<li>
			<a href="#">
				<div class="txt">FILTER</div>
			</a>
		</li>
	</ul>
	<div style="display:none;" class="snb_mobile_sub_menu">
		<div>
			<div>
				<div class="menu_link">
					<a href="#" class="on">MEN</a>
					<a href="#">WOMEN</a>
				</div>
				<div style="display:none;" class="menu_link">
					<a href="#" class="on">ALL CATEGORIES</a>
					<a href="#">JACKETS</a>
					<a href="#">KNITS</a>
					<a href="#">SWEATS</a>
					<a href="#">T-SHIRTS</a>
					<a href="#">PANTS</a>
					<a href="#">SHORTS</a>
					<a href="#">HEADWEARS</a>
					<a href="#">BAGS</a>
					<a href="#">SHOES</a>
					<a href="#">UNDERWEAR</a>
					<a href="#">OTHER</a>
					<a href="#">JACKETS</a>
					<a href="#">KNITS</a>
					<a href="#">SWEATS</a>
					<a href="#">T-SHIRTS</a>
					<a href="#">PANTS</a>
					<a href="#">SHORTS</a>
					<a href="#">HEADWEARS</a>
					<a href="#">BAGS</a>
					<a href="#">SHOES</a>
					<a href="#">UNDERWEAR</a>
					<a href="#">OTHER</a>
				</div>
				<div style="display:none;" class="menu_link">
					<a href="#" class="on">ALL BRANDS</a>
					<a href="#">BRIXTON</a>
					<a href="#">CARHARTT WIP</a>
					<a href="#">DEUS EX MACHINA</a>
					<a href="#">LEXDRAY OBEY</a>
				</div>
				<div style="display:none;" class="menu_link">
					<span class="tit first_child">SIZE</span>
					<a href="#" class="on">All Size</a>
					<a href="#">XS</a>
					<a href="#">S</a>
					<a href="#">M</a>
					<a href="#">L</a>
					<a href="#">XL</a>
					<a href="#">XXL</a>
					<span class="tit">SORT BY</span>
					<a href="#">Latest Arrivals</a>
					<a href="#">Price : low to high</a>
					<a href="#">Price : high to low</a>
				</div>
			</div>
		</div>
	</div>
</div>