<div class="snb_fixed">
	<ul class="snb_main">
		<li>
			<a href="/html/obey/onlineshop/product_list.html">ONLINE SHOP</a>
		</li>
		<li>
			<a href="#">STORE INFO</a>
		</li>
		<li>
			<a href="#">OBEY 2015 SPRING LOOKBOOK</a>
		</li>
		<li>
			<a href="#">OBEY AWARENESS</a>
		</li>
	</ul>
</div>
<div class="snb_mobile_container">
	<ul class="snb_main_mobile">
		<li>
			<a href="/html/obey/onlineshop/product_list.html">ONLINE SHOP</a>
		</li>
		<li>
			<a href="#">STORE INFO</a>
		</li>
		<li>
			<a href="#">OBEY 2015 SPRING LOOKBOOK</a>
		</li>
		<li>
			<a href="#">OBEY AWARENESS</a>
		</li>
	</ul>
</div>